{% extends 'base.app.html.twig' %}

{% block title %}Editar Pago{% endblock %}

{% block content %}

    {# Incluye el menu global para el objeto #}
        {% set titulo_pagina = 'Editar usuario' %}
        {% set objeto_nombre_path = 'registro_user' %}
        {% include 'menu_objeto_global.html.twig' %}
	{# fin menu #}

    <div class="row">
        {% set content = include('registro_user/_form.html.twig')    %}
            {% include "card_content.html.twig" with {
            'appicon': 'fa-dashboard',
            'title':'Editar usuario',
            'detalle':content,
            } 
        %}
    </div>

    {{ include('registro_user/_delete_form.html.twig') }}

{% endblock %}
