{% extends 'base.app.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block content %}

    {# Incluye el menu global para el objeto #}
    
	{% set titulo_pagina = 'Nuevo usuario' %}
    {% set objeto = user %}
    {% set objeto_nombre_path = 'registro_user' %}
    {% include 'menu_objeto_global.html.twig' %} 
    
    {# fin menu #}

    <div class="row">
        {% set content = include('registro_user/_form.html.twig')    %}
            {% include "card_content.html.twig" with {
            'appicon': 'fa-dashboard',
            'title':'Nuevo usuario',
            'detalle':content,
            } 
        %}
    </div>

{% endblock %}
