{% extends 'base.app.html.twig' %}

{% block title %}Pago{% endblock %}

{% block content %}

    {# Incluye el menu global para el objeto #}
        {% set titulo_pagina = 'Pago' %}
        {% set objeto_nombre_path = 'pago' %}
        {% include 'menu_objeto_global.html.twig' %}
	{# fin menu #}

    <div class="row">
        {% set content = include('pago/shows/_show.html.twig')    %}
            {% include "card_content.html.twig" with {
            'appicon': 'fa-dashboard',
            'title':'Pago',
            'detalle':content,
            } 
        %}
    </div>
    
{% endblock %}
